{% extends "template.html" %}
{% block content %}

  <header id="hero" class="hero">
      <a href="{{ url_for('index') }}" class="button-8 w-button">Back to Homepage</a>

<br><br><br>
    <div class="flex-container w-container">
      <div>
        <form method="post">
        {{ form.csrf_token() }}
            <label>Description:</label>
            {{form.description}}
            <br><br>
            <label>Category:</label>
            {{form.category}}
            <br><br>
            <label>Cost:</label>
            {{form.cost}}
            <label>Currency:</label>
            {{form.currency}}
            <br><br>
            <p>Format is Year Month Day</p>
            <p>Example: 2020-02-04</p>
            <label>Date:</label>
            {{form.date}}
            <br><br>
        <input value="Submit" class="button-8 w-button" type="submit">
    </form>
      </div>
    </div>

  </header>

{% endblock %}